<h1>Features</h1>

<p>No. More. Spreadsheets.</p>

<ul>
  <li>Tired of juggling multiple spreadsheets?</li>
  <li>Multiple weddings during different weekends?</li>
  <li>Events on different days at different times with different guestlists?</li>
  <li>Managing different timelines?</li>
  <li>More vendors than you can count on your two hands?</li>
  <li>Assigning family & close friends responsibilities?</li>
</ul>

<p>We gotchu.</p>
