<h1><%= @wedding.nickname %></h1>
<%= link_to 'Back', user_weddings_path %>
<%= link_to 'Edit', edit_user_wedding_path(@wedding) %>
<%= link_to 'Delete', user_wedding_path(@wedding), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
